<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.DBVENTAS_WEBConnectionString"
            connectionString="Data Source=DESKTOP-0PL4U5S\SQLEXPRESS;Initial Catalog=DBVENTAS_WEB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>